body{
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    color: #666;
}

.filtro{
    display: block;
    cursor: pointer;
    padding: 5px;
}

.filtro .badge{
    float: right;
}

.facetas{
    padding: 5px;
}

.facetas .tipo{
    padding: 5px;
}

.faceta-header{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-top: 10px;
}

.faceta-header i{
    float: right;
    margin-top: 3px;
}

.resultados{
    min-height: 600px;
    padding: 15px;
}

.resultados .pagination{
    margin: 5px 0px;
}

.resultado{
    display: block;
    margin: 15px 0px;
}

.resultado h4{
    margin-bottom: 5px; 
}

.resultado .tipo{
    color: #aaa;
    font-style: italic;
}

.query{
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}