<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block ccs %}
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link href='css/index.css' rel='stylesheet' type='text/css'>
            <link href='../vendor/components/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
        {% endblock %}
        {% block javascript %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="js/index.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            
        {% endblock %}
    </body>
</html>